.header {
    padding: 20px;
    text-align: center;
    background: beige;
    color:black;
    font-size: 30px;
    font-family:'Times New Roman';
  }
  .fontDefault{
      font-size: 15px;
  }

  #mainHeader{
      color:Black;
      font-family:'Arial Black';
      
  }
  #mm-connect{
      color: Black;
      position:absolute; right:10px;
  }

.isMetaConnected {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.notMetaConnected{
    appearance: none;
    background-color:rgb(207, 0, 0);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }

  .container {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 10px;
      
  }

  #Item1, #Item2, #Item3, #Item4{
    /* background-color: #34ebeb ; */
    border: 5px inset purple;
    text-align: center;

}

  #Badge1, #Badge2, #Badge3{
  /* background-color: #34ebeb ; */
  border: 5px inset purple;
  text-align: center;

}

#zoodleHeader{
    margin-bottom:25px;
}
h2{
    color: black;
    font-family: 'Arial Black';
}

#progressHeader{
    margin-bottom:25px;
}
#minerImage{
    width: 100%;
    height: 60%; 
    object-fit: contain;
    padding-right: 12%;
    margin-bottom: 30px;

}
h4{
    font-family: Impact;
    color:rgb(4, 9, 107);
}

.progressOffset{
    text-align:right;
    padding-right:25%;
}

.progressDiv{
    text-align: center;
    margin-bottom: 50px;
}
#totalCount{

    font-size:xx-large;
    /* border:5px inset purple; */
    
}


body{
    background-color:beige;
}
span{
    font-family: Impact;
    color:rgb(4, 9, 107);
}

#subHeader1{
  font-family: Impact;
  color:rgb(4, 9, 107);
}

.zoodleBadge{
  width: 100%;
  height: 60%; 
  object-fit: contain;
  margin-bottom: 30px;
}

.badgeTagStyle{
  padding: 4px 4px 6px 6px;
  word-wrap: break-word;
}





